@{
    ViewBag.Title = "My Tumblelog";
}
@using Tumblelog.Models
@model HomePageModel
<div class="jumbotron">
    <h1 id="PageHeading">My Tumblelog</h1>
    <p class="lead">Welcome to my tumblelog.</p>
</div>

<div class="row">
    @foreach (var post in Model.LatestPosts) {
        <div id="recentBlogPosts" class="col-md-4">
            <h4 id="postHeading">@post.Title</h4>
            <p>@post.Body.Substring(0, 20)...</p>
            <p>Created on: @post.CreatedOn</p>
        </div>
    }
</div>
<div class="row">
    <p id="totalBlogPosts">@Model.TotalPosts total blog posts so far.</p>    
</div>
